html,
body {
  margin: 0;
  /* background-color: #25003a; */
  /* overflow: hidden; */
  font-family: "Inconsolata", monospace;
  /* font-family: "Tomorrow", sans-serif; */
}

nav {
  margin: auto;
  width: 70%;
  text-align: center;
  display: flex;
  padding: 2rem 0px 2rem 0px;
  justify-content: space-between;
}

a {
  background-color: none;
  color: white;
}

.codeLinks {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.navlinks {
  position: relative;
  vertical-align: middle;
  opacity: 0.8;
  padding: 2rem 0px 2rem 0px;
}

p {
  display: inline-block;
  color: white;
}

ul#bio {
  display: inline-block;
  position: relative;
  left: 4rem;
  color: white;
  list-style-type: none;
}

ul {
  color: white;
  list-style-type: none;
}

.redacted {
  color: white;
  background-color: black;
}

.falling {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 15px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 24, 48);
}

#myPic {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
  opacity: 0.8;
  padding: 10px;
}

.pic-augfig {
  --aug-border: 4px;
  --aug-border-bg: linear-gradient(#00a8c0, #0048a8);
  --aug-border-opacity: 0.7;
  --aug-t-height: 10px;
  --aug-b-height: 10px;
  --aug-l-width: 10px;
  --aug-r-width: 10px;
  /* --aug-inset-opacity: 0.8; */
  /* --aug-inset: 6px;
  --aug-inset-bg: linear-gradient(to top, #481878, #00a8c0); */
  display: inline-block;
  position: relative;
  left: 3rem;
}

.nav-augfig {
  --aug-border: 2px;
  --aug-border-bg: linear-gradient(#0048a8, #00a8c0);
  --aug-border-opacity: 0.5;
  --aug-inset-opacity: 0.8;
  --aug-inset: 6px;
  --aug-inset-bg: linear-gradient(to top, #481878, #00a8c0);
  display: inline-block;
  position: relative;
  align-content: center;
  text-align: center;
}

.my-augfiguration {
  --aug-border: 2px;
  --aug-border-bg: linear-gradient(#0048a8, #00a8c0);
  --aug-border-opacity: 0.5;
  --aug-inset-opacity: 0.8;
  --aug-inset: 6px;
  --aug-inset-bg: linear-gradient(to top, #481878, #00a8c0);
  --aug-t-width: 33%;
  --aug-t-height: 10px;
  --aug-r-height: 40%;
  --aug-bl-height: 25%;
  text-align: left;
  padding: 15px;
  margin: auto;
  position: relative;
  /* top: 2rem; */
  width: 40rem;
  height: 13rem;
  font-size: 1rem;
  overflow: hidden;
}

.text-augfig {
  --aug-border: 4px;
  --aug-border-bg: linear-gradient(#0048a8, #00a8c0);
  --aug-border-opacity: 0.5;
  /* --aug-inset-opacity: 0.8; */
  /* --aug-inset: 6px; */
  position: relative;
  top: 4rem;
  text-align: left;
  padding: 15px;
  margin: auto auto 4rem auto;
  font-size: 1rem;
  width: 50rem;
}

#bio {
  padding: 1rem;
}

#wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.demo {
  --aug-border: 3px;
  --aug-border-bg: linear-gradient(#0048a8, #00a8c0);
  --aug-border-opacity: 0.5;
  --aug-inset-opacity: 0.8;
  --aug-inset: 6px;
  --aug-inset-bg: linear-gradient(to top, #481878, #00a8c0);
  position: relative;
  display: inline-block;
  top: 5rem;
  width: 250px;
  height: 250px;
  margin: 1.5rem auto 1.5rem auto;
  padding: 10px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 24, 48, 0.4);
}

.modal-content {
  --aug-border: 3px;
  --aug-border-bg: linear-gradient(#0048a8, #00a8c0);
  --aug-border-opacity: 0.5;
  background-color: rgb(0, 24, 48);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
